body {
    background: linear-gradient(90deg, #83A4BD, #A5A2B3, #BA929B, #BD8689, #C46F6A, #C65857, #BF4145, #9C2E37, #7A262E, #421F23, #2D1C22);
    position: relative;
    

}
* {
    box-sizing: border-box;
    font-family: "Gilroy";
}
.container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5 {
    margin-block-start: 0;
    margin-block-end: 0;

}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.lock {
    overflow: hidden;
}
.active {
    display: block;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $title-color;
    span {
        font-weight: 700;
    }

    &__big {
        font-weight: 400;
        font-size: 36px;
        line-height: 46.8px;
    }
}
@media (max-width: 800px) {
    .title {
        span {
            font-weight: 700;

        }
    
        &__big {
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
        }
    }

}
@media (max-width: 600px) {
    .title {
        text-align: center;
        font-size: 24px;
        line-height: 130%;
        span {
            font-size: 20px;
            line-height: 25px;

        }
    
        &__big {
            text-align: center;
            font-size: 20px;
            line-height: 26px;
        }
    }
}
.certificate {
    padding: 80px 0;
}
