.consultation {
    padding: 73px 0 84px 0;
    background: rgba(250, 250, 250, 0.1);

    &__wrapper {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
        border-radius: 6px;
        padding: 60px 0;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 3.62%;
        width: 33.62%;
        height: 0;
        padding-bottom: 42.7%;
        img {
            width: 100%;
        }
        &::after, &::before {
            content: '';
            width: 33.12%;
            height: 33.80%;
            background: url(../img/consultation/decore.png) center (center / cover) no-repeat;
            position: absolute;
            z-index: -1;
        }
        &::after {
            right: -3%;
            bottom: -17.45%;
        }
        &::before {
            top: 32.1%;
            left: 0;
        }
    }

    &__content {
        margin-left: 38.10%;
        width: 55.17%;
    }

    &__descr {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;
        span {
            font-weight: 700;
            font-size: 32px;
            line-height: 41.6px;
        }
    }

    &__form {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 18px;
        color: $title-color;
        input {
            width: 31.25%;
            background: rgba(255, 255, 255, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 6px;
            padding: 20px;
        }
        input::-webkit-input-placeholder {
            color: $title-color;
        }
        button {
            width: 31.25%;
            background: #F2323D;
            border-radius: 6px;
            font-weight: 400;
            font-size: 18px;
            color: $title-color;
            border: none;
        }
    }
}

@media (max-width: 900px) {
    .consultation {

		&__wrapper {
		}

		&__img {
            left: 0;
		}

		&__content {
            width: 60.17%;
		}
		&__descr {
            font-size: 18px;
            line-height: 24px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
		}

		&__form {
            margin-top: 20px;
            font-size: 15px;
            input {
                border-radius: 6px;
                padding: 10px;
            }
            button {
                width: 31.25%;
                background: #F2323D;
                font-size: 15px;
            }
		}
}

}

@media (max-width: 600px) {
    .consultation {
        padding-top: 55%;

		&__wrapper {
            padding: 0;
		}

		&__img {
            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;
            width: 200px;
            height: 254px;
		}

		&__content {
            width: 100%;
            margin-left: 0;
            padding: 30px;
		}
		&__descr {
            font-size: 20px;
            line-height: 26px;
            span {
                font-size: 20px;
                line-height: 26px;
            }
		}

		&__form {
            margin-top: 20px;
            font-size: 15px;
            flex-direction: column;
            
            input {
                border-radius: 6px;
                padding: 20px;
                width: 100%;
                height: 58px;
                margin-bottom: 12px;
                font-size: 18px;
            }
            button {
                width: 31.25%;
                background: #F2323D;
                font-size: 15px;
                width: 100%;
                height: 58px;
                font-size: 18px;
            }
		}
}
    
}
@media (max-width: 420px) {
    .consultation {
        padding-top: 64%;
    }
}