.popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(000, 000, 000, 0.7);
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    &__wrapper {
        height: 70vh;
    }
    &__img {
        height: 100%;
    }
    &__content {
        max-width: 1000px;
        width: 80%;
        background: linear-gradient(90deg, #83A4BD, #A5A2B3, #BA929B, #BD8689, #C46F6A, #C65857, #BF4145, #9C2E37, #7A262E, #421F23, #2D1C22);
        padding: 40px;
        border-radius: 10px;
        position: relative;
    }
    &__close {
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: 20px;
        transform: rotate(45deg);
        &::after {
            content: '';
            width: 30px;
            height: 4px;
            background-color: #fff;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(-90deg);
        }
    }
    
}
.popup__content>.consultation__descr {
    text-align: center;
}
