// Переделать картинки, выглядит довольно всрато!

.specialization {
    padding: 55px 0 60px 0;
    background: rgba(250, 250, 250, 0.1);

    &__wrapper {
        margin-top: 40px;
        display: grid;
        gap: 10px;
        column-gap:20px; //Между колонок
        row-gap: 80px;
        grid-template-columns: repeat(2, minmax(360px, 550px));

    }
}

.specialization-block {
    display: flex;
    justify-content: space-between;
    &__img {
        width: 40.92%;
        overflow: hidden;
        
        img {
            
            width: 100%;


        }
    }

    &__content {
        width: 53.73%;

    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $title-color;
    }

    &__list {
        margin-top: 20px;
    }

    &__list-item {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $title-color;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__descr {
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $title-color;
    }
}
@media (max-width: 850px) {
    .specialization {
        padding: 55px 0 60px 0;
    
        &__wrapper {
            margin-top: 40px;
            display: grid;
            column-gap: 10px; //Между колонок
            row-gap: 33px;
            grid-template-columns: repeat(2, minmax(300px, 374px));
    
        }
    }
    .specialization-block {
        &__img {
            width: 46.79%;
        }
    
        &__content {
            margin-left: 20px;
            // width: 53.73%;
    
        }
    
        &__title {
            font-size: 18px;
            line-height: 120%;
        }
    
        &__list {
            margin-top: 12px;
        }
    
        &__list-item {
            margin-bottom: 9px;
            font-size: 14px;
        }
    
        &__descr {
            margin-top: 12px;
            font-size: 14px;
            line-height: 140%;
        }
    }

}
@media (max-width: 630px) {
    .specialization {
        padding: 40px 0 40px 0;
        &__wrapper {
            margin-top: 20px;
            display: grid;
            row-gap: 30px;
            grid-template-columns: 100%;
    
        }
    }
    .specialization-block {
        flex-direction: column;
        &__img {
            width: 350px;
            height: 266px;
            margin: 0 auto;
            overflow: hidden;
            img {
                width: 100%;
                
            }

        }
    
        &__content {
            margin-left: 0;
            width: 100%;
    
        }
    
        &__title {
            margin-top: 20px;
            font-size: 18px;
            line-height: 120%;
            text-align: center;
        }
    
        &__list {
            margin-top: 10px;
            text-align: center;
        }
    
        &__list-item {
            margin-bottom: 5px;
            font-size: 14px;
        }
    
        &__descr {
            max-width: 250px;
            text-align: center;
            margin: 10px auto 0 auto;
            font-size: 14px;
            line-height: 140%;
        }
    }


}
@media (max-width: 404px){
    .specialization-block__img {
        width: 100%;
    }
}
